.eight.columns.centered{:style => "text-align: center"}
  
  = form_for "camp", :method => :post do |f|
    = f.text_field "location", :class => "input-text", :style => "font-size: 4em; text-align: center; width: 100%;", :placeholder => "Location"
    = f.submit 'Find', :class => "nice large radius black button"
    
  %p Find your nearest Occupy camp by typing a location in the box above.
  %p Example queries: "New York", "London", "Birmingham, UK", "CF10 1EQ"
  %p If you don't find the place you're looking for, try a more specific query.

/ %h1 Listing camps
/ 
/ %table
/   %tr
/     %th City
/     %th Main location
/     %th Second location
/     %th Map address
/     %th Country
/     %th Start date
/     %th Max numbers
/     %th Image
/     %th
/     %th
/     %th
/ 
/   - @camps.each do |camp|
/     %tr
/       %td= camp.city
/       %td= camp.main_location
/       %td= camp.second_location
/       %td= camp.map_address
/       %td= camp.country
/       %td= camp.start_date
/       %td= camp.max_numbers
/       %td= camp.image_url
/       %td= link_to 'Show', camp
/       %td= link_to 'Edit', edit_camp_path(camp)
/       %td= link_to 'Destroy', camp, :confirm => 'Are you sure?', :method => :delete
/ 
/ %br
/ 
/ = link_to 'New Camp', new_camp_path
